.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    color: #283593;
}
.reveal-viewport {
    background: #fafafa;
    background-color: #fafafa; }
.reveal h2 {
  font-size: 2.0em; }
